{extend name="admin@public/basic" /}

{block name="content"}
<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>管理员管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li class="active">
                <strong>管理员列表</strong>
            </li>
        </ol>
    </div>
    {if (permission('admin.add')) }
    <div class="col-lg-2">
        <h2><a class="btn btn-primary btn-outline" href="{:url('/admin/admin/create')}">添加管理员</a></h2>
    </div>
    {/if}
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>用户名</th>
                            <th>权限组</th>
                            <th>加入时间</th>
                            <th>最后登录时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='list' id='item'}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.username}</td>
                            <td>{$item.title}</td>
                            <td>{:date('Y-m-d H:i:s',$item['create_time'])}</td>
                            <td>{:date('Y-m-d H:i:s',$item['login_time'])}</td>
                            <td>
                                {if (permission('admin.edit')) }
                                <a class="btn btn-primary btn-outline btn-xs" href="{:url('/admin/admin/'.$item['id'].'/edit')}" title="编辑"><span class="fa fa-edit"></span></a>
                                {/if}
                                {if (permission('admin.delete')) }
                                {if $item.id == 1}
                                    <a class="btn btn-default btn-outline btn-xs disabled" title="删除"><span class="fa fa-trash"></span></a>
                                {else/}
                                    <a onclick="del('{$item.id}')" class="btn btn-danger btn-outline btn-xs" title="删除">
                                    <form name="delete-{$item.id}" action="{:url('admin/admin/'.$item['id'])}" method="post"><input type="hidden" name="_method" value="delete"></form>
                                    <span class="fa fa-trash"></span></a>
                                {/if}
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

