{extend name="admin@public/basic" /}

{block name="content"}
<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>商品管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li class="active">
                <strong>订单列表</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>地区</th>
                            <th>商品品牌</th>
                            <th>商品分类</th>
                            <th>商品名称</th>
                            <th>商品图片</th>
                            <th>商品Sku</th>
                            <th>商品价格</th>
                            <th>商品描述</th>
                            <th>售价</th>
                            <th>状态</th>
                            <th width="160">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='list' id='item'}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.county}</td>
                            <td>{$item.brand}</td>
                            <td>{$item.category_id}</td>
                            <td>{$item.name}</td>
                            <td>{$item.image}</td>
                            <td>{$item.sku}</td>
                            <td>{$item.price}</td>
                            <td>{$item.desc}</td>
                            <td>{$item.sell_price}</td>
                            <td>
                                {if $item.status == 1}
                                <span class="label label-default radius">发布</span>
                                {elseif $item.status == 2/}
                                <span class="label label-success radius">有货源</span>
                                {elseif $item.status == 3/}
                                <span class="label label-warning radius">无货源</span>
                                {/if}
                            </td>
                            <td>
                                {if (permission('release.edit')) }
                                {if ($item.status == 1)}
                                <a class="btn btn-primary btn-outline btn-xs" onclick="edit('{$item.id}')" title="编辑"><span class="fa fa-edit"></span></a>
                                {/if}
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

    function edit(id) {
        layer.open({
            type: 2,
            title: '需求管理',
            shadeClose: false,
            shade: 0.8,
            area: ['400px', '400px'],
            content: "/admin/release/"+id + "/edit"
        });
    }
</script>
{/block}
