{extend name="admin@public/basic" /}
{block name="content"}

<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>公司管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li>
                <a href="{:url('/admin/advantage')}">企业优势</a>
            </li>
            <li class="active">
                <strong>修改企业优势</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span>修改企业优势</span>
                </div>
                <div class="ibox-content">
                    <form method="post" action="{:url('/admin/advantage/'.$info['id'])}" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="put" />
                        <div class="form-group"><label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-9"><input type="text" name="title" value="{$info.title}" class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">英文标题</label>
                            <div class="col-sm-9"><input type="text" name="english_title" value="{$info.english_title}" class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">简介</label>
                            <div class="col-lg-9">
                                <textarea name="intro" class="form-control">{$info.intro}</textarea>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">英文简介</label>
                            <div class="col-lg-9">
                                <textarea name="english_intro" class="form-control">{$info.english_intro}</textarea>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">图标</label>
                            <div class="col-sm-9">
                                <img src="{$info['icon']}" style="width:136px;height: 95px" />
                                <input type="file" name="icon" class="form-control"/></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}

{/block}
