{extend name="admin@public/basic" /}
{block name="content"}

<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>菜单管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li class="active">
                <strong>菜单列表</strong>
            </li>
        </ol>
    </div>
    {if (permission('menu.add')) }
        <div class="col-lg-2">
            <h2><a class="btn btn-primary btn-outline" href="{:url('admin/menu/create')}">添加菜单</a></h2>
        </div>
    {/if}
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>菜单名</th>
                            <th>链接</th>
                            <th>权限</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='list' id='item'}
                        <tr>
                            <td><span class="{$item.icon}"></span>  {$item.title}</td>
                            <td>{$item.url}</td>
                            <td>{$item.slug}</td>
                            <td>{$item.sort}</td>
                            <td>
                                {if (permission('menu.edit')) }
                                <a class="btn btn-primary btn-outline btn-xs" href="{:url('/admin/menu/'.$item['id'].'/edit')}" title="编辑"><i class="fa fa-edit"></i></a>
                                {/if}
                                {if (permission('menu.delete')) }
                                <a class="btn btn-danger btn-outline btn-xs" onclick="del('{$item.id}')" title="删除">
                                    <form name="delete-{$item.id}" action="{:url('admin/menu/'.$item['id'])}" method="post"><input type="hidden" name="_method" value="delete"></form>
                                    <span class="fa fa-trash"></span></a>
                                {/if}
                            </td>
                        </tr>
                        {volist name="$item.child" id='_item'}
                        <tr>
                            <td>  &nbsp; ┠  &nbsp; {$_item.title}</td>
                            <td>{$_item.url}</td>
                            <td>{$_item.slug}</td>
                            <td>{$_item.sort}</td>
                            <td>
                                {if (permission('menu.edit')) }
                                <a class="btn btn-primary btn-outline btn-xs" href="{:url('/admin/menu/'.$_item['id'].'/edit')}" title="编辑"><i class="fa fa-edit"></i></a>
                                {/if}
                                {if (permission('menu.delete')) }
                                <a class="btn btn-danger btn-outline btn-xs" onclick="del('{$_item.id}')" title="删除">
                                    <form name="delete-{$_item.id}" action="{:url('admin/menu/'.$_item['id'])}" method="post"><input type="hidden" name="_method" value="delete"></form><span class="fa fa-trash"></span></a>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

