{extend name="admin@public/basic" /}
{block name="content"}

<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>文章管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li>
                <a href="{:url('/admin/article')}">文章列表</a>
            </li>
            <li class="active">
                <strong>修改文章</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span>修改文章</span>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">缩略图：</label>
                            <div class="col-sm-2 send">
                                <img id="preview" style="height: 125px;width: 125px;" src="/static/admin/img/img-bg.jpg">
                                <input type="hidden" name="thumb" id="thumb_hidden">
                                <input type="file" name="file" id="files" data-url="{:url('/admin/article/uploadImages')}">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">*文章标题</label>
                            <div class="col-sm-9"><input type="text" name="title" value="" class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">*英文标题</label>
                            <div class="col-sm-9"><input type="text" name="english_title" value="" class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">*文章内容</label>
                            <div class="col-lg-9">
                                <script id="content" name="content" type="text/plain" style="height:500px"></script>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">*英文内容</label>
                            <div class="col-lg-9">
                                <script id="english_content" name="english_content" type="text/plain" style="height:500px"></script>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-primary" type="submit" id="sub">提交</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}

<script type="text/javascript">
    // 添加全局站点信息
    var BASE_URL = '__STATIC__/admin/js/plugins/webuploader';
</script>

<script type="text/javascript" src="__STATIC__/common/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/common/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/common/ueditor/lang/zh-cn/zh-cn.js"></script>

<script src="__STATIC__/admin/js/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="__STATIC__/admin/js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="__STATIC__/admin/js/jquery-file-upload/js/jquery.fileupload.js"></script>

<script>

    $(function(){
        var ue = UE.getEditor('content');
    });

    $(function(){
        var ue = UE.getEditor('english_content');
    });

    //图片上传
    $(function() {
        //文件上传地址
        //var url = 'http://localhost/index.php/upload/do_upload';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $('#files').val('');
        $('#files').fileupload({
            autoUpload: true, //是否自动上传
            //url: url,//上传地址
            dataType: 'json',
            done: function(e, data) {
                if(data.result.status == 0){
                    layer.msg(data.result.info, {icon: 2, time:1000});return;
                }
                $("#preview").attr('src',data.result.path);
                $("#thumb_hidden").val(data.result.path);
            },
            complete: function() {
            }
        });
    });


    $("#sub").click(function () {
        var title = $("*[name='title']").val();
        var english_title = $("*[name='english_title']").val();
        var content = $("*[name='content']").val();
        var thumb = $("*[name='thumb']").val();
        var english_content = $("*[name='english_content']").val();
        $.ajax({
            type: "post",
            data: {title:title, english_title:english_title, content:content, english_content:english_content, thumb:thumb},
            url: "{:url('/admin/article')}",
            beforeSend: function () {
                layer.load(0);
            },
            success: function (res) {
                if(res.code!=0){
                    layer.alert(res.msg);
                }else{
                    layer.msg(res.msg, {icon:1});
                    window.location.href = "{:url('/admin/article')}";
                }
            },
            complete: function () {
                //完成响应
                layer.closeAll('loading');
                $('.btn').attr('disabled', false)
            },
            error: function (res) {
                layer.alert('系统异常')
            }
        });
    })
</script>
{/block}
