{extend name="admin@public/basic" /}

{block name="content"}
<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>用户管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li class="active">
                <strong>用户列表</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <form role="form" action="{:url('/admin/user')}" class="form-inline" method="get">
                        <div class="form-group">
                            <input type="text" placeholder="用户ID" name="id"
                                   value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="用户名称" name="name"
                                   value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="电话" name="phone"
                                   value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="邮箱" name="email"
                                   value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="status">
                                <option value="0"  >全部</option>
                                <option value="1"  >正常</option>
                                <option value="-1" >禁用</option>
                            </select>
                        </div>
                        <button class="btn btn-success" type="submit">搜索</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-bordered table-hover" style="font-size: 12px;">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>昵称</th>
                            <th>手机号</th>
                            <th>邮箱</th>
                            <th>注册时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='list' id='item'}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.name}</td>
                            <td>{$item.phone}</td>
                            <td>{$item.email}</td>
                            <td>{:date('Y-m-d H:i:s',$item['create_time'])}</td>
                            <td id="lock_{$item.id}">
                                {if $item.status == 1}
                                    <i style="color: #1AB394;"><span class="fa fa-check"></span></i>
                                {else/}
                                <i style="color: red;"><span class="fa fa-times"></span></i>
                                {/if}
                            </td>
                            <td>
                                {if (permission('user.lock')) }
                                <lock>
                                    {if $item.status == 1}
                                    <a onclick="lock(this, {$item.id}, {$item.status },'1')"
                                       class="btn btn-xs btn-warning btn-outline" title="禁用账号">
                                        <span class="fa fa-arrow-circle-down"> </span>
                                    </a>
                                    {else/}
                                    <a onclick="lock(this,{$item.id }, {$item.status},'0')"
                                       class="btn btn-xs btn-success  btn-outline" title="取消禁用">
                                        <span class="fa fa-arrow-circle-up "> </span>
                                    </a>
                                    {/if}
                                </lock>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    function lock(v, id, status_value,flag) {
        layer.confirm('确定操作？',{
            btn:['确认','取消']
        },function(){
            if (status_value == 1) {
                status_value = 0;
            } else {
                status_value = 1;
            }
            $.ajax({
                'type': 'post',
                'url': "{:url('/admin/user/lock')}",
                'data': {id: id, status: status_value},
                'success': function (data) {
                    console.log(data);
                    if (data == 1) {
                        layer.msg('已解冻！');
                        $('#lock_' + id).html('<i style="color: #1AB394;"><span class="fa fa-check"></span></i>');
                        $(v).parents('lock').html('<a onclick="lock(this,' + id + ', ' + status_value + ')" class="btn btn-xs btn-warning btn-outline" title="禁用账号"><span class="fa fa-arrow-circle-down"> </span></a>');
                    } else if (data == 0) {
                        $('#lock_' + id).html('<i style="color: red;"><span class="fa fa-times"></span></i>');
                        layer.msg('已禁用！');
                        $(v).parents('lock').html('<a onclick="lock(this,' + id + ', ' + status_value + ')" class="btn btn-xs btn-success  btn-outline" title="取消禁用"><span class="fa fa-arrow-circle-up"> </span></a>');
                    } else {
                        layer.msg('操作失败！');
                    }
                }
            });
        })
    }


</script>
{/block}
