{extend name="admin@public/basic" /}

{block name="content"}
<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>广告管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li class="active">
                <strong>广告位列表</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>广告位描述</th>
                            <th>尺寸大小</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='position' id='item'}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.name}</td>
                            <td>{$item.size}</td>
                            <td><a href="{:url('/admin/guang/guang/'.$item['id'])}">查看图片</a></td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

