{extend name="admin@public/basic" /}

{block name="content"}
<!-- page content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>评论管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('/admin')}">控制台</a>
            </li>
            <li class="active">
                <strong>评论列表</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <form role="form" action="{:url('/admin/commit')}" class="form-inline" method="get">
                        <div class="form-group">
                            <input type="text" placeholder="用户ID" name="user_id"
                                   value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="status">
                                <option value="0"  >全部</option>
                                <option value="1"  >待审核</option>
                                <option value="2"  >审核通过</option>
                                <option value="3"  >未通过</option>
                            </select>
                        </div>
                        <button class="btn btn-success" type="submit">搜索</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-bordered table-hover" style="font-size: 12px;">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>用户</th>
                            <th>评论内容</th>
                            <th>图片</th>
                            <th>评论时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='list' id='item'}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.name}</td>
                            <td>{$item.content}</td>
                            <td>
                                <div id="photos_{$item.id}" class="layer-photos-demo">
                                    {volist name='item.image' id='v'}
                                    <img height="30px" attr_parid="photos_{$item.id}" width="35px" onclick="photo(this)" layer-src="{$v}" src="{$v}" >
                                    {/volist}
                                </div>

                            </td>
                            <td>{:date('Y-m-d H:i:s',$item['time'])}</td>
                            <td id="lock_{$item.id}">
                                {if $item.status == 1}
                                    <span class="label label-default radius">待审核</span>
                                {elseif $item.status == 3/}
                                    <span class="label label-warning radius">未通过</span>
                                {else/}
                                    <span class="label label-primary radius">审核通过</span>
                                {/if}
                            </td>
                            <td>
                                {if (permission('commit.deal')) }
                                    {if($item.status == 1)}
                                    <a class="btn btn-xs btn-success btn-outline" title="点击处理"
                                       onclick="set_status('{$item.id}')"> <span
                                            class="{if($item.status == 0)} fa fa-arrow-circle-up {else/} fa fa-arrow-circle-down {/if}"> </span>
                                    </a>
                                    {else/}
                                    <a class="btn btn-xs btn-default btn-outline disabled">
                                        <span class="fa fa-check-circle"> </span>
                                    </a>
                                    {/if}
                                {/if}
                                {if (permission('commit.delete')) }
                                <a onclick="del_feedback('{$item.id}')"
                                   class="btn btn-danger btn-outline btn-xs edit" title="删除"> <span
                                        class="fa fa-trash"></span> </a>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

    function photo(v) {
        console.log($(v).attr('attr_parid'));
        layer.photos({
            photos: '#' + $(v).attr('attr_parid'),
            anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    }

    function set_status(id) {
        layer.open({
            type: 2,
            title: '评论审核',
            shadeClose: false,
            shade: 0.8,
            area: ['400px', '400px'],
            content: "/admin/commitDeal/"+id
        });
    }
    function del_feedback(id) {
        layer.confirm('你确定删除该条记录吗？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: "delete",
                'url': "/admin/commit/" + id,
                beforeSend: function () {
                layer.load(0);
            },
            success: function (data) {
                console.log(data);
                if (data.code == '0') {
                    layer.msg('删除成功！', {icon: 1, time: 800}, function () {
                        window.location.reload();
                    });
                } else {
                    layer.alert(data.msg);
                }
            },
            complete: function () {
                //完成响应
                layer.closeAll('loading');
            },
            error: function (data) {
                layer.alert('系统异常')
            }
        });
        });
    }

</script>
{/block}
